/* General reset and base styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.book-page {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.book-cover {
    flex: 1;
    min-width: 250px;
}

.cover-image {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.book-info {
    flex: 2;
    padding-left: 30px;
}

.book-title {
    font-size: 2em;
    margin-bottom: 0;
    color: #2c3e50;
}

.book-authors {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #7f8c8d;
}

.book-description {
    font-size: 1em;
    margin-bottom: 20px;
}

.book-meta {
    font-size: 0.9em;
}

.meta-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.meta-item p {
    font-size: 16px;
    display: inline;
    font-weight: 600;
    color: #34495e;
}

.group-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.group-container .item{
    background-color: #2d3748;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 4px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .book-page {
        flex-direction: column;
    }

    .book-info {
        padding-left: 0;
        margin-top: 20px;
    }
}
