.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.book-card{
    width: 160px;
    height: 340px;
}

.book-cover{
    width: 160px;
    object-fit: cover;
    height: 240px;
}

.book-title{
    height: 54px;
    overflow: hidden;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.book-author{
    margin: 0;
    font-size: 14px;
    color: #9ca3af;
}
